# =========================
# Node / Vue
# =========================
node_modules/
dist/
npm-debug.log*

# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================
# Kubernetes
# =========================
kubeconfig

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
.env
.env.local
.env.production

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
docker-data/